<section>
    <h1>Register</h1>

    <form method="post" action="/users/register">
        <div>
            <label for="firstname">First name: </label>
            <input type="text" name="firstname" />
        </div>
        <div>
            <label for="surname">Last name: </label>
            <input type="text" name="surname" />
        </div>
        <div>
            <label for="email">Email: </label>
            <input type="email" name="email" />
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="password" name="password" />
        </div>
        <div>
            <input type="submit" value="register">
        </div>
    </form>
</section>